.Input {
    width: 100%;
    text-align: center;
}

.Input input {
    /* width: 50em; */
    width: 100%;
    font-size: 16px;
    margin: 1em 0;
}

.Input textarea {
    margin: 1em 0;
    /* width: 50em; */
    width: 100%;
    font-size: 16px;
    height: 10em;
    border: 1px solid #ccc;
}